* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global tag  */

a {
    color: black;
    text-decoration: none !important;
    word-break: break-all;
}

svg {
    fill: white;
}

main {
    display: flex;
    margin: auto;
}

/* content */

section.section-content {
    width: 90%;
    height: 97vh;
    overflow-y: scroll;
}

section.section-menu {
    width: 250px;
    height: 97vh;
    overflow-y: scroll;
}

section.section-menu-navigation svg {
    fill: black;
    width: 25px;
}

/* responsive */

@media (max-width :650px) {
    main {
        flex-direction: column;
    }

    section.section-menu {
        display: none;
        position: fixed;
        z-index: 2;
    }

    section.section-content {
        margin: auto auto 1rem auto !important;
        height: 85vh;
    }

    /* menu */

    section.section-menu-navigation {
        display: flex !important;
        justify-content: flex-start;
        width: 90%;
        margin: 10px auto !important;
    }

    #menuCover {
        position: fixed;
        display: none;
        top: 0;
        background-color: rgba(0, 0, 0, 0.500);
        width: 150%;
        height: 150%;
        z-index: 2;
    }

}